appdirs==1.4.0
DOM==1.7.6
finders==0.23.12
HLRedux==1.8.4
lxml==3.7.2
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
xmljson==0.1.7
